<div class="col-lg-6">
        <h3>{{title}}</h3>
        <div *ngIf="messageExit" class="alert alert-success">
                {{messageExit}}
        </div>
        <div *ngIf="messageError" class="alert alert-danger">
                {{messageError}}
        </div><br>
    <form #registerForm="ngForm" (ngSubmit)="UpdateUser(registerForm)" class="col-lg-10">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nombre Usuario</span>
            </div>
            <input class="form-control" type="text" #name="ngModel" [(ngModel)]="user.name" name="name" placeholder="Nombre Usuario" required>         
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Correo Electrónico</span>
            </div>
            <input class="form-control" type="email" #email="ngModel" [(ngModel)]="user.email" name="email" placeholder="Correo Electrónico" required>         
        </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Sube tu logo</span>
            </div>
            <input type="file" name="image" (change)="fileChange($event)" accept="image/*">
            <!-- <p-fileUpload name="myfile[]" accept="image/*"></p-fileUpload> --> 
            <!-- <p-fileUpload mode="basic" name="image[]" (onSelect)="fileChange($event)" accept="image/*"></p-fileUpload> -->
        </div>
        
        <button class="btn btn-success" type="submit" label="Actualizar" [disabled]="!registerForm.form.valid">Guardar</button>
    </form>
</div>